<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Recipe #<%= @recipe.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @recipe.name %></dd>

              <dt>Main ingredient</dt>
              <dd><%= @recipe.main_ingredient_id %></dd>

              <dt>Meal</dt>
              <dd><%= @recipe.meal_id %></dd>

              <dt>Ingredients</dt>
              <dd><%= @recipe.ingredients %></dd>

              <dt>Directions</dt>
              <dd><%= @recipe.directions %></dd>

              <dt>Image</dt>
              <dd><%= @recipe.image %></dd>

              <dt>Meal</dt>
              <dd><%= @recipe.meal %></dd>

              <dt>Main ingredient</dt>
              <dd><%= @recipe.main_ingredient %></dd>

              <dt>Calories</dt>
              <dd><%= @recipe.calories %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/recipes" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
